<!-- LINK CSS HEADER -->
<link rel="stylesheet" href="/CSS/COMPONENTES/social-media.css">

    <div class="contenedor-social-media">
        <ul id="social-media-id">
            <li><a href=""><img src="/ASSETS/MAIN/facebook.png" alt=""></a></li>
            <li><a href=""><img src="/ASSETS/MAIN/messenger.png" alt=""></a></li>
            <li><a href=""><img src="/ASSETS/MAIN/instagram.png" alt=""></a></li>
            <li><a href=""><img src="/ASSETS/MAIN/x.png" alt=""></a></li>
            <li><a href=""><img src="/ASSETS/MAIN/tik tok.png" alt=""></a></li>
        </ul>
    </div>
</div>